<div id="top_header">
  <div class="wrap"><div id="logo">
    <h1><%= link_to "cisco", root_path %></h1>
  </div><nav>
  <ul id="top_nav">
   <li> <%= link_to "Home", root_path ,class: "active"%></li>
   <% if user_signed_in?%>
   <% if current_user.has_role? :admin %>
   <li ><%= link_to 'Admin', users_path %></li>
   <% end  %>  
  
   <li><%= link_to current_user.name, "#" ,class:""  %> 
    <ul style="display: none;left:-25px;"><!-- begin 2nd level -->
     <li><%= link_to "My Profile", edit_user_registration_path %></li>
     <li><%= link_to "Log out", destroy_user_session_path %></li>
   </ul><!-- end 2nd level -->
 </li>
 <li><% if current_user.image_blob == nil %>
   <% if current_user.omni_image_url == nil %> <div style="top:-100px; float:left; margin-left:3px; margin-top:3px; margin-right: 0px;"><%= gravatar_for_with_size current_user, "15x15"%></div><% else  %><div style="top:-20px; float:left; margin-left:3px; margin-top:3px; margin-right: 3px;"> <%= image_tag(current_user.omni_image_url,size: "15x15", alt: "")%></div><% end  %>
   <% else  %>
   <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => current_user.id), :size => "15x15" %>
   <% end  %></li>
 <% else %>
 <li ><%= link_to "Log In", new_user_session_path %></li>
 <li ><%= link_to "Sign Up", new_user_registration_path %></li> <% end %>
</ul>
</nav>
</div>
</div>