<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "#{@subdomain}/style.css", media: "screen" ,rel:"stylesheet"%>

 <%= stylesheet_link_tag "custom.css", media: "all" ,rel:"stylesheet"%>
  
        <%= stylesheet_link_tag "footer.css", media: "all" ,rel:"stylesheet"%>
        <%= stylesheet_link_tag "home.css", media: "all" ,rel:"stylesheet"%>
        <%= stylesheet_link_tag "login.css", media: "all" ,rel:"stylesheet"%>
    
        <%= stylesheet_link_tag "myprofile.css", media: "all" ,rel:"stylesheet"%>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon_normal.ico' %>
</head>
<body>

  <% if check_null(yield(:effectingHeader)) %>
  <div >
    <%= render 'layouts/header' %>

  </div>

  <% else %>
  <!-- Do Nothing -->
  <% end %>
  <!-- <div class="container"> -->
  <br>
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" style="width: 677px;margin:0px auto;" align="center"><%= value %></div>
  <% end %>
</br>
<%= yield %>

<%= render 'layouts/login_popup' %>
<%= render 'layouts/signup_popup' %>

<%= render 'layouts/footer' %>
</body>
<%= debug(params) if Rails.env.development? %>
</html>
