<br>
<div class="container" >
  <div class="row" >
    <div class="span6 offset3" >
      <%= form_for @account do |f| %>
      <div class="control-group">
        <%= render 'shared/error_messages', object: f.object %>
      <table>
        <tr>
          <td> <%= f.label :ac_name, "Account Name" , :class => 'control-label' %></td>
          <td>
          <%= f.text_field :ac_name, :class => 'text_field' %>
        </td>
        </tr>

        <tr>
          <td> <%= f.label :sub_domain_name, "Sub Domain Name" , :class => 'control-label' %></td>
          <td>
          <%= f.text_field :sub_domain_name, :class => 'text_field' %>
         </td>
        </tr>

        <tr>
          <td><%= f.label :lms_account_id, "LMS Account ID" , :class => 'control-label' %></td>
          <td> 
          <%= f.text_field :lms_account_id, :class => 'text_field' %>
        </td>
        </tr>

        <tr>
          <td> <%= f.label :is_active, "Active" , :class => 'control-label' %></td>
          <td>
          <%= f.check_box :is_active ,:checked => true%>
        </td>
        </tr>
        <tr>
          <td class="form-actions"><%= f.submit "Create Account", :class => 'btn btn-primary'  %></td>
          <td class="form-actions"><%= link_to t('.cancel', :default => t("helpers.links.cancel")),topics_path, :class => 'btn' %></td>
        </tr>
      </table>
      </div>      
      <% end %>
    </div>
  </div>
</div>